{% extends "inventory/base.html" %}
{% block content %}
<h1 class="text-2xl text-primary">{{item.name}}</h1>
<div class="card w-fit bg-base-200 shadow-md mx-auto my-6">
  <div class="card-body items-center">
    <h2 class="card-title text-base-content/80 mb-2">Location</h2>
    <img
        src="{{ location_image_data }}"
        alt="Location"
        class="object-contain"
    />
  </div>
</div>
<table class="table table-zebra">
    <tr>    
        <td>ID</td>
        <td>{{item.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{item.name}}</td>
    </tr>
    <tr>
        <td>
            Box
        </td>
        <td>
            <a href="{{ item.box.get_absolute_url }}">
                {{item.box.name}}
            </a>
        </td>
    </tr>

</table>

<br>

<form method="POST">
    {% csrf_token %}
    <select class="select select-sm" name="new_box" required>
        <option value="">Select Box</option>
        {% for box in available_boxes%}
            <option value="{{box.id}}">{{ box.name }}</option>
        {%endfor%}
    </select>
    <button class="btn btn-sm" type="submit">Move Item...</button>
</form>
</br>
<a class="btn btn-primary" href="{% url 'inventory:index'%}">back</a>

{% endblock %}